html,page,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
page{
    font-size: 100px ;
    position:absolute;
    text-align: center;
    padding-top: 30%;
}
#c{
    background-color: lightgreen;
    animation: c 10s ;
}
#x{
    background-color: darkgreen;
    animation: x 10s ;
}
#q{
    background-color: coral;
    animation: q 10s ;
}
#d{
    background-color: aliceblue;
    animation: d 10s ;
}
#z{
    font-size: 36px;
    display: block;
    animation: z 10s ;
}

@keyframes z {
    0% {opacity:0}
    70% {opacity:0}
    80% {opacity:100}
    100% {opacity:0}
}
@keyframes c {
    0% {opacity:0}
    20% {opacity:100}
    40% {opacity:0}
    100% {opacity:0}
}
@keyframes x {
    0% {opacity:0}
    20% {opacity:0}
    40% {opacity:100}
    60% {opacity:0}
    100% {opacity:0}
}
@keyframes q {
    0% {opacity:0}
    40% {opacity:0}
    60% {opacity:100}
    80% {opacity:0}
    100% {opacity:0}
}
@keyframes d {
    0% {opacity:0}
    60% {opacity:0}
    80% {opacity:100}
    100% {opacity:0}
}